
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin: 0;
}


section {
    padding: 2rem;
    margin: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    color: #333;
}

#images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  
}


#images img {
    width: 3000px;
   height: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover   ;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0.5rem 0;
}

.image-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .image-container img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .prev,
  .next {
    position: absolute;
 top: 50%;
    
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: #333;
    border: none;
    outline: none;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }